body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  padding: 1rem 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.8) 0%, rgba(9, 9, 121, 0.8) 35%, rgb(0, 113, 136) 50%);
}

.pokelist {
  display: flex;
  gap: 1rem;
}

.pokecard {
  width: 200px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 1.5rem;
  border: 2px solid black;
  border-radius: 15px;
  cursor: pointer;
}

.pokecard:hover {
  border-color: lightblue;
  transform: scale(1.05, 1.05);
  transition: all 100ms linear;

}

.btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  border: none;
  color: #fff;
  background-color: rgb(88, 101, 242);
  transition: background-color .17s ease, color .17s ease;
}

.btn:hover {
  background-color: rgb(71, 82, 196);

}

.btn:disabled {
  display: inline-block;
  outline: none;
  cursor: default;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  border: none;
  color: #fff;
  background-color: #4f545c;
  transition: background-color .17s ease, color .17s ease;
}